{% extends "base.html" %}
{% load thumbnail %}

{% block title %}People{% endblock %}

{% block content %}
<div class="container mt-3">
    <h3>People</h3><hr >
    <div id="people-list">
      {% for user in users %}
        <div class="user">
          <a href="{{ user.get_absolute_url }}">
            {% thumbnail user.photo "180x180" crop="100%" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
          </a>
          <div class="info">
            <a href="{{ user.get_absolute_url }}" class="title">
              {{ user.get_full_name }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
 
{% endblock %}