{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Change you password{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h3>Change your password</h3><hr>
        <form action="." method="post">
            <ul>
                <li>{{ form.old_password|append_attr:"placeholder:Old Password" }}</li>
                <li>{{ form.new_password1|append_attr:"placeholder:New Password" }}</li>
                <li>{{ form.new_password2|append_attr:"placeholder:New Password Confirm" }}</li>
                <button class="btn btn-primary" type="submit" >Submit</button>
                {% csrf_token %}
            <ul>
        </form>
    </div>
{% endblock %}